@()<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
    </head>
  <body>
    <div data-ng-controller="LoginCtrl" data-ng-cloak>
      <div data-ng-switch="loggedIn">
        <div data-ng-switch-when="false">
          <form>
            <input type="text" data-ng-model="credentials.user" placeholder="Username" /><br />
            <input type="text" data-ng-model="credentials.password" placeholder="Password" /><br />
            <button data-ng-click="login(credentials)">Log In</button>
          </form>
        </div>
        <div data-ng-switch-when="true">
          Welcome, {{user.firstName}} {{user.lastName}}!
        </div>
      </div>
    </div>
  </body>
</html>
